
name: OWASP ZAP Baseline Scan
on: [push]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.6.1
        with:
          docker_name: 'zaproxy/zap2docker-stable'
          target: 'http://testphp.vulnweb.com/'
          cmd_options: '-a'
          allow_issue_writing: true
          fail_action: false
