
name: OWASP ZAP Baseline Scan
on: [push]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.6.1
        with:
          docker_name: 'ghcr.io/zaproxy/zap-stable'
          target: 'http://testphp.vulnweb.com/'
          cmd_options: '-a'
          allow_issue_writing: true
          fail_action: false
